* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

header {
    background-image: linear-gradient(to right, rgb(0, 0, 10), rgba(128, 123, 123, 0.514));
    margin: 10px;
    height: 100vh;
    margin-top: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    /* position: relative; */
    position: fixed;
    z-index: 1;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 8%;
    top: 0;
    /* margin-top: 0; */
}

ul {
    list-style-type: none;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    max-width: 50%;
    justify-content: space-around;
}

ul li {
    /* float: right; */
    display: inline-block;
    color: rgb(255, 235, 205);
    list-style-type: none;
    font-size: 16px;
}

#buy {
    border: 1px solid rgb(255, 235, 205);
    border-radius: 25px;
    padding: 8px;
}

#buy:hover {
    border: 1px solid rgba(153, 149, 149, 0.774);
}

nav a {
    text-decoration: none;
    color: blanchedalmond;
}

/* ul li a::after{
    content: '';
    display: block;
    width: 0%;

} */
ul li a:hover {
    color: rgba(153, 149, 149, 0.774);
    transition: 0.3s;
}

#logo {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    float: right;
}

#hamburger-icon div {
    width: 45px;
    height: 3px;
    background-color: blanchedalmond;
    margin: 6px 0;
    transition: 0.4s;
}

#hamburger-icon div .open {
    display: block;
}

.open .bar1 {
    -webkit-transform: rotate(-135deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(135deg) translate(-4px, 6px);
    transform: rotate(45deg) translate(-4px, 6px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 150vw;
}

.mobile-menu {
    display: none;
    position: fixed;
    right: 25%;
    z-index: 1;
    height: 60vh;
    padding: 100px;

    opacity: 1;
    background-color: black;
    color: blanchedalmond;
}

#head1 {
    color: blanchedalmond;
    font-size: 65px;
    position: relative;
    /* top: 40%; */
    text-align: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 35%;
    /* transform: translate(0%, 150%); */
}

#head1info {
    color: blanchedalmond;
    font-size: 20px;
    position: relative;
    /* top: 41%; */
    text-align: center;
}

button {
    background-color: rgba(94, 90, 90, 0.5);
    position: relative;
    align-items: center;
    padding: 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin: 5px;
    /* width: 54%; */
    color: blanchedalmond;
}

.headlink:hover {
    color: rgba(94, 90, 90, 0.5);
    transition: 0.3s;
    border: 1px solid rgba(94, 90, 90, 0.5);
}

.headlink {
    background-color: transparent;
    border: 1px solid blanchedalmond;
    padding: 18px;
    /* width: 13%; */
}

.headlink2 {
    background-color: rgba(0, 0, 0, 0.5);
}

.headlink2:hover {
    color: rgba(94, 90, 90, 0.5);
    transition: 0.3s;
}

button a {
    color: blanchedalmond;
    text-decoration: none;
}

button a:hover {
    color: rgba(94, 90, 90, 0.5);
    transition: 0.3s;
}

.mainBody {
    background-color: blanchedalmond;
    margin: 10px;
    position: relative;
}

#h2about {
    /* position: relative; */

    display: flex;
    padding: 10px;
    justify-content: center;
    font-size: 44px;

}

#pabout {
    position: relative;
    /* top: 12%; */
    display: flex;
    color: gray;
    justify-content: center;
    font-size: 21px;
}

#line {
    border-top: 1px solid gray;
    width: 40%;
    position: absolute;
    left: 30%;
    /* top: 23%; */
}

.imgone {
    width: 100px;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 30%;
    animation: jump 1.5s infinite;
}

@keyframes jump {
    25% {
        top: 0;
    }

    50% {
        top: -10%;
    }

    100% {
        top: 0%;
    }
}

.firstset {
    display: flex;
    position: relative;
    padding: 60px;
    justify-content: space-around;
}

.txt1 {
    display: flex;
    position: relative;
    /* top: 12%; */
    font-size: 32px;
    justify-content: space-around;
}

.txtPara1 {
    display: flex;
    position: relative;
    /* top: 14%; */
    color: gray;
    text-align: center;
    font-size: 17px;
    justify-content: space-around;
}

.secondset {
    display: flex;
    position: relative;
    padding: 60px;
    justify-content: space-around;
}

.imgtwo {
    width: 100px;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 30%;
    animation: jump 1.5s 0.2s infinite;
}

.txt2 {
    display: flex;
    position: relative;
    /* top: 5%; */
    font-size: 32px;
    justify-content: space-around;
}

.txtPara2 {
    display: flex;
    position: relative;
    /* top: 8%; */
    color: gray;
    text-align: center;
    font-size: 17px;
    justify-content: space-around;
}
@media screen and (max-width: 912px) {
    body {
        margin: 0;
    }

    header {
        margin: 0;
        height: 100vh;
    }

    #hamburger-icon {
        display: block;
        color: white;
    }

    header nav {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        /* position: relative; */
        position: fixed;
        z-index: 1;
        top: 20px;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 8%;
        top: 0;
        /* margin-top: 0; */
    }

    ul {
        list-style-type: none;
        align-items: center;
        justify-content: center;
        display: flex;
        flex: 1;
        max-width: 50%;
        justify-content: space-around;
    }

    ul li {
        /* float: right; */
        display: inline-block;
        color: rgb(255, 235, 205);
        list-style-type: none;
        font-size: 16px;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* transform: translate(0%, 150%); */
    }

    #logo {
        position: absolute;
        right: 70%;
        font-size: 25px;
        font-weight: bold;
        display: block;
    }

    #logo a {
        color: blanchedalmond;
        text-decoration: none;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        /* top: 5%; */
        right: 0%;
        z-index: 1;
        height: 70vh;
        padding: 100px;
        width: 200vh;
        opacity: 1;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(128, 123, 123, 0.514));
    }

    #hamburger-icon div {
        width: 45px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    ul li a {
        color: rgb(255, 235, 205);
        list-style-type: none;
        font-size: 16px;
        text-decoration: none;
        font-size: 23px;
    }

    #head1 {
        font-size: 50px;
        left: 12%;
    }

    #head1info {
        left: 10%;
        font-size: 19px;
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }

    .headlink {
        left: 15%;
        width: 250px;
    }

    .headlink2 {
        left: 15%;
        width: 250px;
    }

    #h2about {
        position: relative;
        /* top: 3%; */
        display: flex;
        justify-content: center;
        font-size: 41px;
    }

    #pabout {
        position: relative;
        top: 4%;
        display: flex;
        color: gray;
        justify-content: center;
        font-size: 17px;
    }

    #line {
        border-top: 1px solid gray;
        width: 90%;
        position: absolute;
        left: 5%;
        /* top: 10%; */
    }

    /* .firstset {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        justify-content: space-between;
    } */


    .imgone {
        width: 70px;
        left: 37%;
        /* animation: jump 1.5s infinite; */
    }

    /* .secondset {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    } */

    .imgtwo {
        width: 70px;
        left: 37%;
        /* animation: jump 1.5s 0.2s infinite; */
    }

    .txt1 {
        font-size: 27px;
    }

    .txtPara1 {
        font-size: 17px;
    }

    .txt2 {
        font-size: 27px;
    }

    .txtPara2 {
        font-size: 17px;
    }
}
@media screen and (max-width: 720px) {
    body {
        margin: 0;
    }

    header {
        margin: 0;
        height: 100vh;
    }

    #hamburger-icon {
        display: block;
        color: white;
    }

    header nav {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        /* position: relative; */
        position: fixed;
        z-index: 1;
        top: 20px;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 8%;
        top: 0;
        /* margin-top: 0; */
    }

    ul {
        list-style-type: none;
        align-items: center;
        justify-content: center;
        display: flex;
        flex: 1;
        max-width: 50%;
        justify-content: space-around;
    }

    ul li {
        /* float: right; */
        display: inline-block;
        color: rgb(255, 235, 205);
        list-style-type: none;
        font-size: 16px;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* transform: translate(0%, 150%); */
    }

    #logo {
        position: absolute;
        right: 70%;
        font-size: 25px;
        font-weight: bold;
        display: block;
    }

    #logo a {
        color: blanchedalmond;
        text-decoration: none;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        /* top: 5%; */
        right: 0%;
        z-index: 1;
        height: 70vh;
        padding: 100px;
        width: 200vh;
        opacity: 1;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(128, 123, 123, 0.514));
    }

    #hamburger-icon div {
        width: 45px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    ul li a {
        color: rgb(255, 235, 205);
        list-style-type: none;
        font-size: 16px;
        text-decoration: none;
        font-size: 23px;
    }

    #head1 {
        font-size: 50px;
        left: 12%;
    }

    #head1info {
        left: 10%;
        font-size: 19px;
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }

    .headlink {
        left: 15%;
        width: 250px;
    }

    .headlink2 {
        left: 15%;
        width: 250px;
    }

    #h2about {
        position: relative;
        /* top: 3%; */
        display: flex;
        justify-content: center;
        font-size: 41px;
    }

    #pabout {
        position: relative;
        top: 4%;
        display: flex;
        color: gray;
        justify-content: center;
        font-size: 17px;
    }

    #line {
        border-top: 1px solid gray;
        width: 90%;
        position: absolute;
        left: 5%;
        /* top: 10%; */
    }

    .firstset {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        justify-content: space-between;
    }


    .imgone {
        width: 70px;
        left: 37%;
        /* animation: jump 1.5s infinite; */
    }

    .secondset {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    .imgtwo {
        width: 70px;
        left: 37%;
        /* animation: jump 1.5s 0.2s infinite; */
    }

    .txt1 {
        font-size: 27px;
    }

    .txtPara1 {
        font-size: 17px;
    }

    .txt2 {
        font-size: 27px;
    }

    .txtPara2 {
        font-size: 17px;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    body {
        margin: 0;
    }

    header {
        margin: 0;
        height: 100vh;
    }

    #hamburger-icon {
        display: block;
        color: white;
    }

    header nav {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        /* position: relative; */
        position: fixed;
        z-index: 1;
        top: 20px;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 8%;
        top: 0;
        /* margin-top: 0; */
    }

    ul {
        list-style-type: none;
        align-items: center;
        justify-content: center;
        display: flex;
        flex: 1;
        max-width: 50%;
        justify-content: space-around;
    }

    ul li {
        /* float: right; */
        display: inline-block;
        color: rgb(255, 235, 205);
        list-style-type: none;
        font-size: 16px;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* transform: translate(0%, 150%); */
    }

    #logo {
        position: absolute;
        right: 70%;
        font-size: 25px;
        font-weight: bold;
        display: block;
    }

    #logo a {
        color: blanchedalmond;
        text-decoration: none;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        /* top: 5%; */
        right: 0%;
        z-index: 1;
        height: 70vh;
        padding: 100px;
        width: 200vh;
        opacity: 1;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(128, 123, 123, 0.514));
    }

    #hamburger-icon div {
        width: 45px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    ul li a {
        color: rgb(255, 235, 205);
        list-style-type: none;
        font-size: 16px;
        text-decoration: none;
        font-size: 23px;
    }

    #head1 {
        font-size: 50px;
        left: 12%;
    }

    #head1info {
        left: 10%;
        font-size: 19px;
    }

    .headlink {
        left: 18%;
        width: 250px;
    }

    .headlink2 {
        left: 18%;
        width: 250px;
    }

    #h2about {
        position: relative;
        /* top: 3%; */
        display: flex;
        justify-content: center;
        font-size: 41px;
    }

    #pabout {
        position: relative;
        top: 4%;
        display: flex;
        color: gray;
        justify-content: center;
        font-size: 17px;
    }

    #line {
        border-top: 1px solid gray;
        width: 90%;
        position: absolute;
        left: 5%;
        /* top: 10%; */
    }

    .firstset {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        justify-content: space-between;
    }


    .imgone {
        width: 70px;
        left: 37%;
        /* animation: jump 1.5s infinite; */
    }

    .secondset {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    .imgtwo {
        width: 70px;
        left: 37%;
        /* animation: jump 1.5s 0.2s infinite; */
    }

    .txt1 {
        font-size: 27px;
    }

    .txtPara1 {
        font-size: 17px;
    }

    .txt2 {
        font-size: 27px;
    }

    .txtPara2 {
        font-size: 17px;
    }

}

@media screen and (max-width: 280px) {
    body {
        margin: 0;
    }

    header {
        margin: 0;
        height: 100vh;
    }

    #hamburger-icon {
        display: block;
        color: white;
    }

    header nav {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        /* position: relative; */
        position: fixed;
        z-index: 1;
        top: 20px;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 8%;
        top: 0;
        /* margin-top: 0; */
    }

    ul {
        list-style-type: none;
        align-items: center;
        justify-content: center;
        display: flex;
        flex: 1;
        max-width: 50%;
        justify-content: space-around;
    }

    ul li {
        /* float: right; */
        display: inline-block;
        color: rgb(255, 235, 205);
        list-style-type: none;
        font-size: 16px;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* transform: translate(0%, 150%); */
    }

    #logo {
        position: absolute;
        right: 70%;
        font-size: 25px;
        font-weight: bold;
        display: block;
    }

    #logo a {
        color: blanchedalmond;
        text-decoration: none;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        /* top: 5%; */
        right: 0%;
        z-index: 1;
        height: 70vh;
        padding: 100px;
        width: 200vh;
        opacity: 1;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(128, 123, 123, 0.514));
    }

    #hamburger-icon div {
        width: 45px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    ul li a {
        color: rgb(255, 235, 205);
        list-style-type: none;
        font-size: 16px;
        text-decoration: none;
        font-size: 23px;
    }

    #head1 {
        font-size: 30px;
        left: 12%;
    }

    #head1info {
        left: 10%;
        font-size: 13px;
        margin-bottom: 18px;
    }

    .headlink {
        left: 13%;
        width: 250px;
        font-size: 12px;
    }

    .headlink2 {
        left: 13%;
        width: 250px;
        font-size: 12px;
    }

    .mainBody {
        margin: 0;
    }

    #h2about {
        position: relative;
        /* top: 3%; */
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    #pabout {
        position: relative;
        /* top: 4%; */
        display: flex;
        color: gray;
        justify-content: center;
        font-size: 12px;
    }

    #line {
        border-top: 1px solid gray;
        width: 90%;
        position: absolute;
        left: 5%;
        /* top: 10%; */
    }

    .firstset {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        /* top: 8%; */
        justify-content: space-between;
        padding: 5%;
    }

    .imgone {
        width: 50px;
        left: 37%;
        animation: jump 1.5s infinite;
    }

    .secondset {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        /* top: 9%; */
        justify-content: space-between;
        padding: 0;
    }

    .imgtwo {
        width: 50px;
        left: 37%;
        animation: jump 1.5s 0.2s infinite;
    }

    .txt1 {
        font-size: 23px;
    }

    .txtPara1 {
        font-size: 12px;
    }

    .txt2 {
        font-size: 23px;
    }

    .txtPara2 {
        font-size: 12px;
    }
}