@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: linear-gradient(to right, rgb(0, 0, 10), rgb(128, 123, 123));
    /* margin: 10px; */
    height: 100vh;
    margin-top: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    /* position: relative; */
    position: fixed;
    z-index: 1;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.901);
    width: 100%;
    height: 8%;
    top: 0;
    /* margin-top: 0; */
}

ul {
    list-style-type: none;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    max-width: 50%;
    justify-content: space-around;
}

ul li {
    /* float: right; */
    display: inline-block;
    color: rgb(255, 235, 205);
    list-style-type: none;
    font-size: 16px;
}

.underline::after {
    content: '';
    height: 2px;
    display: block;
    width: 0;
    background: rgba(153, 149, 149, 0.774);
    transition: width 0.3s;

}

.underline:hover::after {
    width: 100%;
}

#buy {
    border: 1px solid rgb(255, 235, 205);
    border-radius: 25px;
    padding: 8px;
}

#buy:hover {
    border: 1px solid rgba(153, 149, 149, 0.774);
}

nav a {
    text-decoration: none;
    color: blanchedalmond;
}

/* ul li a::after{
    content: '';
    display: block;
    width: 0%;

} */
ul li a:hover {
    color: rgba(153, 149, 149, 0.774);
    transition: 0.3s;
}

#logo {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    float: right;
}

#hamburger-icon div {
    width: 45px;
    height: 3px;
    background-color: blanchedalmond;
    margin: 6px 0;
    transition: 0.4s;
}

#hamburger-icon div .open {
    display: block;
}

.open .bar1 {
    -webkit-transform: rotate(-135deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(135deg) translate(-4px, 6px);
    transform: rotate(45deg) translate(-4px, 6px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 150vw;
}

.mobile-menu {
    display: none;
    position: fixed;
    right: 25%;
    z-index: 1;
    height: 60vh;
    padding: 100px;

    opacity: 1;
    background-color: black;
    color: blanchedalmond;
}

#head1 {
    color: blanchedalmond;
    font-size: 65px;
    position: relative;
    /* top: 40%; */
    text-align: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 35%;
    /* transform: translate(0%, 150%); */
}

#head1info {
    color: blanchedalmond;
    font-size: 20px;
    position: relative;
    /* top: 41%; */
    text-align: center;
}

button {
    background-color: rgba(94, 90, 90, 0.5);
    position: relative;
    align-items: center;
    padding: 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin: 5px;
    /* width: 54%; */
    color: blanchedalmond;
}

.headlink:hover {
    color: rgb(94, 90, 90);
    transition: 0.3s;
    border: 1px solid white;
}

.headlink {
    background-color: transparent;
    border: 1px solid blanchedalmond;
    padding: 18px;
    /* width: 13%; */
}

.headlink2 {
    background-color: rgb(0, 0, 0);
}

.headlink2:hover {
    color: black;
    transition: 0.3s;
}

button a {
    color: blanchedalmond;
    text-decoration: none;
}

button a:hover {
    color: white;
    transition: 0.3s;
}

.mainBody {
    background-color: blanchedalmond;
    margin: 10px;
    position: relative;
}

.h2about {
    /* position: relative; */

    display: flex;
    padding: 10px;
    justify-content: center;
    font-size: 44px;

}

.pabout {
    position: relative;
    display: flex;
    color: gray;
    justify-content: center;
    font-size: 21px;
}

.line {
    border-top: 1px solid rgb(202, 202, 202);
    width: 60%;
    position: absolute;
    left: 20%;
}

.imgone {
    width: 100px;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 30%;
    animation: jump 1.5s infinite;
}

@keyframes jump {
    25% {
        top: 0;
    }

    50% {
        top: -10%;
    }

    100% {
        top: 0%;
    }
}

.firstset {
    display: flex;
    position: relative;
    padding: 60px;
    justify-content: space-around;
}

.txt1 {
    display: flex;
    position: relative;
    /* top: 12%; */
    font-size: 32px;
    justify-content: space-around;
}

.txtPara1 {
    display: flex;
    position: relative;
    /* top: 14%; */
    color: gray;
    text-align: center;
    font-size: 17px;
    justify-content: space-around;
}

.secondset {
    display: flex;
    position: relative;
    padding: 60px;
    justify-content: space-around;
}

.imgtwo {
    width: 100px;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 30%;
    animation: jump 1.5s 0.2s infinite;
}

.txt2 {
    display: flex;
    position: relative;
    /* top: 5%; */
    font-size: 32px;
    justify-content: space-around;
}

.txtPara2 {
    display: flex;
    position: relative;
    /* top: 8%; */
    color: gray;
    text-align: center;
    font-size: 17px;
    justify-content: space-around;
}

.port {
    margin: 65px;
    margin-bottom: 0px;
}

.port-cont {
    display: flex;
    border-top: 1px solid rgb(232, 232, 232);
}

.port-cont2 {
    transform: translate(5%, 20%);
}

.list ul {
    max-width: 100%;
    display: flex;
    flex: 1;
    margin: 22px;
    justify-content: space-around;
    padding: 18px;
}

.list ul li {
    color: grey;
    font-size: 32px;
    cursor: pointer;
}

.list ul .active {
    color: black;
    cursor: pointer;
}

.img-wrap {
    width: 80%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}

.img-wrap img {
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.img-wrap img:hover {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

.letterK {
    width: 10%;
    margin-bottom: 40px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
}

.port-txt {
    font-size: 32px;
    margin-bottom: 30px;
}

.koral {
    color: grey;
    margin-bottom: 40px;
}

.koralbtn {
    background-color: black;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
}

.koralbtn:hover {
    background-color: blanchedalmond;
    transition: 0.4s;
    color: black;
}

.careers {
    margin-top: 0;
    margin-right: 65px;
    margin-left: 65px;
    background-image: linear-gradient(rgb(101, 56, 205), rgb(65, 191, 253));
}

.careers h2 {
    padding-top: 29px;
    color: white;
}

.careers p {
    color: white;
}

.positions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
    padding: 25px;
}

.available h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 18px;
    cursor: pointer;
}

.available p {
    color: rgb(203, 203, 203);
    font-size: 17px;
    margin-bottom: 75px;
}

.available button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    box-shadow: none;
}

.available button:hover {
    color: rgb(65, 191, 253);
    background-color: white;
}

.sub-lst h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 18px;
    cursor: pointer;
}

.sub-lst p {
    color: rgb(203, 203, 203);
    font-size: 17px;
    margin-bottom: 48px;
}

@media screen and (max-width: 912px) {
    body {
        margin: 0;
    }

    header {
        margin: 0;
        height: 100vh;
    }

    #hamburger-icon {
        display: block;
        color: white;
    }

    header nav {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        /* position: relative; */
        position: fixed;
        z-index: 1;
        top: 20px;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 8%;
        top: 0;
        /* margin-top: 0; */
    }

    ul {
        list-style-type: none;
        align-items: center;
        justify-content: center;
        display: flex;
        flex: 1;
        max-width: 50%;
        justify-content: space-around;
    }

    ul li {
        /* float: right; */
        display: inline-block;
        color: rgb(255, 235, 205);
        list-style-type: none;
        font-size: 16px;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* transform: translate(0%, 150%); */
    }

    #logo {
        position: absolute;
        right: 70%;
        font-size: 25px;
        font-weight: bold;
        display: block;
    }

    #logo a {
        color: blanchedalmond;
        text-decoration: none;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        right: 0%;
        z-index: 1;
        height: 70vh;
        padding: 100px;
        width: 200vh;
        opacity: 1;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(128, 123, 123, 0.514));
    }

    #hamburger-icon div {
        width: 45px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    ul li a {
        color: rgb(255, 235, 205);
        list-style-type: none;
        font-size: 16px;
        text-decoration: none;
        font-size: 23px;
    }

    #head1 {
        font-size: 50px;
        left: 12%;
    }

    #head1info {
        left: 10%;
        font-size: 19px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }

    .headlink {
        left: 15%;
        width: 250px;
    }

    .headlink2 {
        left: 15%;
        width: 250px;
    }

    .h2about {
        position: relative;
        /* top: 3%; */
        display: flex;
        justify-content: center;
        font-size: 41px;
    }

    .pabout {
        position: relative;
        top: 4%;
        display: flex;
        color: gray;
        justify-content: center;
        font-size: 17px;
    }

    .line {
        width: 70%;
        position: absolute;
        left: 14%;
        /* top: 10%; */
    }

    /* .firstset {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        justify-content: space-between;
    } */


    .imgone {
        width: 70px;
        left: 37%;
        /* animation: jump 1.5s infinite; */
    }

    /* .secondset {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    } */

    .imgtwo {
        width: 70px;
        left: 37%;
        /* animation: jump 1.5s 0.2s infinite; */
    }

    .txt1 {
        font-size: 27px;
    }

    .txtPara1 {
        font-size: 17px;
    }

    .txt2 {
        font-size: 27px;
    }

    .txtPara2 {
        font-size: 17px;
    }

    .port {
        margin: 0px;
    }

    .port-cont {
        flex-direction: column;
    }

    .port-cont2 {
        transform: translate(0%, 0%);
    }

    .list ul {
        max-width: 100%;
        display: flex;
        flex: 1;
        margin: 0px;
        justify-content: space-around;
        padding: 18px;
    }

    .list ul li {
        color: grey;
        margin-right: 12px;
        font-size: 21px;
        cursor: pointer;
    }

    .list ul .active {
        color: black;
        cursor: pointer;
    }

    .img-wrap {
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .img-wrap img {
        width: 100%;
    }

    .img-wrap img:hover {
        transform: scale(1.1);
        transition: all 0.4s ease-in-out;
    }

    .letterK {
        width: 18%;
        margin-bottom: 20px;
    }

    .port-txt {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .koral {
        color: grey;
        margin-bottom: 20px;
        font-size: 25px;
    }

    .koralbtn {
        background-color: black;
        transform: translateX(0%);
    }

    .koralbtn:hover {
        background-color: blanchedalmond;
        transition: 0.4s;
        color: black;
    }
    .careers {
        margin-top: 0;
        margin-right: 0px;
        margin-left: 0px;
    }

    .careers h2 {
        padding-top: 39px;
    }

    .careers p {
        font-size: 19px;
    }

    .positions {
        flex-direction: row;
        margin-top: 30px;
        padding: 0px;
    }

    .available h3 {
        font-size: 32px;
        margin-bottom: 12px;
        margin-top: 0px;
    }

    .available p {
        font-size: 20px;
        margin-bottom: 65px;
    }

    .available button {
        margin-bottom: 45px;
        font-size: 16px;
    }


    .sub-lst h3 {
        font-size: 32px;
        margin-bottom: 18px;
    }

    .sub-lst p {
        font-size: 20px;
    }
}

@media screen and (max-width: 720px) {
    body {
        margin: 0;
    }

    header {
        margin: 0;
        height: 100vh;
    }

    #hamburger-icon {
        display: block;
        color: white;
    }

    header nav {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        /* position: relative; */
        position: fixed;
        z-index: 1;
        top: 20px;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 8%;
        top: 0;
        /* margin-top: 0; */
    }

    ul {
        list-style-type: none;
        align-items: center;
        justify-content: center;
        display: flex;
        flex: 1;
        max-width: 50%;
        justify-content: space-around;
    }

    ul li {
        /* float: right; */
        display: inline-block;
        color: rgb(255, 235, 205);
        list-style-type: none;
        font-size: 16px;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* transform: translate(0%, 150%); */
    }

    #logo {
        position: absolute;
        right: 70%;
        font-size: 25px;
        font-weight: bold;
        display: block;
    }

    #logo a {
        color: blanchedalmond;
        text-decoration: none;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        right: 0%;
        z-index: 1;
        /* height: 30vh; */
        padding: 100px;
        width: 100%;
        opacity: 1;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(128, 123, 123, 0.514));
    }

    #hamburger-icon div {
        width: 45px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    ul li a {
        color: rgb(255, 235, 205);
        list-style-type: none;
        font-size: 16px;
        text-decoration: none;
        font-size: 23px;
    }

    #head1 {
        font-size: 50px;
        left: 12%;
    }

    #head1info {
        left: 10%;
        font-size: 19px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }

    .headlink {
        left: 15%;
        width: 250px;
    }

    .headlink2 {
        left: 15%;
        width: 250px;
    }

    .h2about {
        position: relative;
        /* top: 3%; */
        display: flex;
        justify-content: center;
        font-size: 41px;
    }

    .pabout {
        position: relative;
        top: 4%;
        display: flex;
        color: gray;
        justify-content: center;
        font-size: 17px;
    }

    .line {
        width: 90%;
        position: absolute;
        left: 5%;
        /* top: 10%; */
    }

    .firstset {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        justify-content: space-between;
    }


    .imgone {
        width: 70px;
        left: 37%;
        /* animation: jump 1.5s infinite; */
    }

    .secondset {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    .imgtwo {
        width: 70px;
        left: 37%;
        /* animation: jump 1.5s 0.2s infinite; */
    }

    .txt1 {
        font-size: 27px;
    }

    .txtPara1 {
        font-size: 17px;
    }

    .txt2 {
        font-size: 27px;
    }

    .txtPara2 {
        font-size: 17px;
    }

    .port {
        margin: 0px;
    }

    .port-cont {
        flex-direction: column;
    }

    .port-cont2 {
        transform: translate(0%, 0%);
    }

    .list ul {
        max-width: 100%;
        display: flex;
        flex: 1;
        margin: 0px;
        justify-content: space-around;
        padding: 18px;
    }

    .list ul li {
        color: grey;
        margin-right: 12px;
        font-size: 12px;
        cursor: pointer;
    }

    .list ul .active {
        color: black;
        cursor: pointer;
    }

    .img-wrap {
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .img-wrap img {
        width: 100%;
    }

    .img-wrap img:hover {
        transform: scale(1.1);
        transition: all 0.4s ease-in-out;
    }

    .letterK {
        width: 18%;
        margin-bottom: 20px;
    }

    .port-txt {
        font-size: 27px;
        margin-bottom: 10px;
    }

    .koral {
        color: grey;
        margin-bottom: 20px;
        font-size: 12px;
    }

    .koralbtn {
        background-color: black;
        transform: translateX(0%);
    }

    .koralbtn:hover {
        background-color: blanchedalmond;
        transition: 0.4s;
        color: black;
    }
    .careers {
        margin-top: 0;
        margin-right: 0px;
        margin-left: 0px;
    }

    .careers h2 {
        padding-top: 39px;
    }

    .careers p {
        font-size: 15px;
    }

    .positions {
        flex-direction: column;
        margin-top: 30px;
        padding: 0px;
    }

    .available h3 {
        font-size: 27px;
        margin-bottom: 12px;
        margin-top: 0px;
    }

    .available p {
        font-size: 17px;
        margin-bottom: 15px;
    }

    .available button {
        margin-bottom: 45px;
        font-size: 12px;
    }


    .sub-lst h3 {
        font-size: 27px;
        margin-bottom: 18px;
    }

    .sub-lst p {
        font-size: 17px;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    body {
        margin: 0;
    }

    header {
        margin: 0;
        height: 100vh;
    }

    #hamburger-icon {
        display: block;
        color: white;
    }

    header nav {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        /* position: relative; */
        position: fixed;
        z-index: 1;
        top: 20px;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 8%;
        top: 0;
        /* margin-top: 0; */
    }

    ul {
        list-style-type: none;
        align-items: center;
        justify-content: center;
        display: flex;
        flex: 1;
        max-width: 50%;
        justify-content: space-around;
    }

    ul li {
        /* float: right; */
        display: inline-block;
        color: rgb(255, 235, 205);
        list-style-type: none;
        font-size: 16px;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* transform: translate(0%, 150%); */
    }

    #logo {
        position: absolute;
        right: 70%;
        font-size: 25px;
        font-weight: bold;
        display: block;
    }

    #logo a {
        color: blanchedalmond;
        text-decoration: none;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        /* top: 5%; */
        right: 0%;
        /* z-index: 1; */
        height: 70vh;
        padding: 100px;
        width: 100%;
        opacity: 1;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(128, 123, 123, 0.514));
    }

    #hamburger-icon div {
        width: 40px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    ul li a {
        color: rgb(255, 235, 205);
        list-style-type: none;
        font-size: 16px;
        text-decoration: none;
        font-size: 23px;
    }

    #head1 {
        font-size: 50px;
        left: 12%;
    }

    #head1info {
        left: 10%;
        font-size: 17px;
    }

    .headlink {
        left: 13%;
        width: 250px;
    }

    .headlink2 {
        left: 13%;
        width: 250px;
    }

    .mainBody {
        margin: 0;
    }

    .h2about {
        position: relative;
        /* top: 3%; */
        display: flex;
        justify-content: center;
        font-size: 35px;
    }

    .pabout {
        position: relative;
        top: 4%;
        display: flex;
        color: gray;
        justify-content: center;
        font-size: 12px;
    }

    .line {
        width: 90%;
        position: absolute;
        left: 5%;
        /* top: 10%; */
    }

    .firstset {
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        justify-content: space-between;
    }


    .imgone {
        width: 50px;
        left: 37%;
        /* animation: jump 1.5s infinite; */
    }

    .secondset {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    .imgtwo {
        width: 50px;
        left: 37%;
        /* animation: jump 1.5s 0.2s infinite; */
    }

    .txt1 {
        font-size: 22px;
    }

    .txtPara1 {
        font-size: 12px;
    }

    .txt2 {
        font-size: 22px;
    }

    .txtPara2 {
        font-size: 12px;
    }

    .port {
        margin: 0px;
    }

    .port-cont {
        flex-direction: column;
    }

    .port-cont2 {
        transform: translate(0%, 0%);
    }

    .list ul {
        max-width: 100%;
        display: flex;
        flex: 1;
        margin: 0px;
        justify-content: space-around;
        padding: 15px;
    }

    .list ul li {
        color: grey;
        margin-right: 12px;
        font-size: 12px;
        cursor: pointer;
    }

    .list ul .active {
        color: black;
        cursor: pointer;
    }

    .img-wrap {
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .img-wrap img {
        width: 100%;
    }

    .img-wrap img:hover {
        transform: scale(1.1);
        transition: all 0.4s ease-in-out;
    }

    .letterK {
        width: 18%;
        margin-bottom: 20px;
    }

    .port-txt {
        font-size: 27px;
        margin-bottom: 10px;
    }

    .koral {
        color: grey;
        margin-bottom: 20px;
        font-size: 12px;
    }

    .koralbtn {
        background-color: black;
        transform: translateX(0%);
    }

    .koralbtn:hover {
        background-color: blanchedalmond;
        transition: 0.4s;
        color: black;
    }

    .careers {
        margin-top: 0;
        margin-right: 0px;
        margin-left: 0px;
    }

    .careers h2 {
        padding-top: 39px;
    }

    .careers p {
        font-size: 11px;
    }

    .positions {
        flex-direction: column;
        margin-top: 30px;
        padding: 0px;
    }

    .available h3 {
        font-size: 24px;
        margin-bottom: 12px;
        margin-top: 0px;
    }

    .available p {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .available button {
        margin-bottom: 45px;
        font-size: 12px;
    }


    .sub-lst h3 {
        font-size: 24px;
        margin-bottom: 18px;
    }

    .sub-lst p {
        font-size: 12px;
    }

}

@media screen and (max-width: 280px) {
    body {
        margin: 0;
    }

    header {
        margin: 0;
        height: 100vh;
    }

    #hamburger-icon {
        display: block;
        color: white;
    }

    header nav {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        /* position: relative; */
        position: fixed;
        z-index: 1;
        top: 20px;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 8%;
        top: 0;
        /* margin-top: 0; */
    }

    ul {
        list-style-type: none;
        align-items: center;
        justify-content: center;
        display: flex;
        flex: 1;
        max-width: 50%;
        justify-content: space-around;
    }

    ul li {
        /* float: right; */
        display: inline-block;
        color: rgb(255, 235, 205);
        list-style-type: none;
        font-size: 16px;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* transform: translate(0%, 150%); */
    }

    #logo {
        position: absolute;
        right: 70%;
        font-size: 25px;
        font-weight: bold;
        display: block;
    }

    #logo a {
        color: blanchedalmond;
        text-decoration: none;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        /* top: 5%; */
        right: 0%;
        z-index: 1;
        height: 70vh;
        padding: 100px;
        width: 200vh;
        opacity: 1;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(128, 123, 123, 0.514));
    }

    #hamburger-icon div {
        width: 35px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    ul li a {
        color: rgb(255, 235, 205);
        list-style-type: none;
        font-size: 16px;
        text-decoration: none;
        font-size: 23px;
    }

    #head1 {
        font-size: 30px;
        left: 12%;
    }

    #head1info {
        left: 10%;
        font-size: 13px;
        margin-bottom: 18px;
    }

    .headlink {
        left: 10%;
        width: 250px;
        font-size: 12px;
    }

    .headlink2 {
        left: 10%;
        width: 250px;
        font-size: 12px;
    }

    .mainBody {
        margin: 0;
    }

    .h2about {
        position: relative;
        /* top: 3%; */
        display: flex;
        justify-content: center;
        font-size: 25px;
    }

    .pabout {
        position: relative;
        /* top: 4%; */
        display: flex;
        color: gray;
        justify-content: center;
        font-size: 8px;
    }

    .line {
        width: 90%;
        position: absolute;
        left: 5%;
        /* top: 10%; */
    }

    .firstset {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        /* top: 8%; */
        justify-content: space-between;
        padding: 5%;
    }

    .imgone {
        width: 40px;
        left: 37%;
        animation: jump 1.5s infinite;
    }

    .secondset {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        /* top: 9%; */
        justify-content: space-between;
        padding: 0;
    }

    .imgtwo {
        width: 40px;
        left: 37%;
        animation: jump 1.5s 0.2s infinite;
    }

    .txt1 {
        font-size: 20px;
    }

    .txtPara1 {
        font-size: 8px;
    }

    .txt2 {
        font-size: 20px;
    }

    .txtPara2 {
        font-size: 8px;
    }

    .port {
        margin: 0px;
    }

    .port-cont {
        flex-direction: column;
    }

    .port-cont2 {
        transform: translate(0%, 0%);
    }

    .list ul {
        max-width: 100%;
        display: flex;
        flex: 1;
        margin: 0px;
        justify-content: space-around;
        padding: 18px;
    }

    .list ul li {
        color: grey;
        margin-right: 8px;
        font-size: 8px;
        cursor: pointer;
    }

    .list ul .active {
        color: black;
        cursor: pointer;
    }

    .img-wrap {
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .img-wrap img {
        width: 100%;
    }

    .img-wrap img:hover {
        transform: scale(1.1);
        transition: all 0.4s ease-in-out;
    }

    .letterK {
        width: 22%;
        margin-bottom: 20px;
    }

    .port-txt {
        font-size: 27px;
        margin-bottom: 10px;
    }

    .koral {
        color: grey;
        margin-bottom: 20px;
        font-size: 12px;
    }

    .koralbtn {
        background-color: black;
        transform: translateX(0%);
        font-size: 12px;
    }

    .koralbtn:hover {
        background-color: blanchedalmond;
        transition: 0.4s;
        color: black;
    }
    .careers {
        margin-top: 0;
        margin-right: 0px;
        margin-left: 0px;
    }

    .careers h2 {
        padding-top: 39px;
    }

    .careers p {
        font-size: 8px;
    }

    .positions {
        flex-direction: column;
        margin-top: 30px;
        padding: 0px;
    }

    .available h3 {
        font-size: 20px;
        margin-bottom: 12px;
        margin-top: 0px;
    }

    .available p {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .available button {
        margin-bottom: 45px;
        font-size: 8px;
    }


    .sub-lst h3 {
        font-size: 20px;
        margin-bottom: 18px;
    }

    .sub-lst p {
        font-size: 12px;
    }
}